@media screen and (min-width: 993px) and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media screen and (min-width:770px) and (max-width: 992px) {
       #media div:hover {
        background-image: url("img/yellowtriangle.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
       #face {
        margin-top: -60%;
        margin-left: -5%;
        transform: scale(0.6);
    }
    #timeline {
        margin-top: -4%;
        right: 0;
        transform: scale(0.7);
        width: 150%;
    }
    #firstjob {
        margin-right: 70%;
        padding-top: 10%;
    }
    #secondjob {
        padding-top: 18%;
        margin-right: 25%;
    }
    #thirdjob {
        margin-left: 16%;
        margin-top: -46%;
    }
     #contact i {
        margin-left: 25%;
        font-size: 3em;
    }
     #programming i {
        z-index: 900;
    }
    #programming i:hover:after {
        display: inline;
        font-size: 20px;
        position: absolute;
        margin-top: 10%;
        color: #BD3327;
    }
    .devicon-html5-plain:hover:after,
    .devicon-css3-plain:hover:after,
    .devicon-javascript-plain:hover:after,
    .devicon-jquery-plain:hover:after,
    .devicon-nodejs-plain:hover:after {
        margin-left: -8%;
    }
}

/* Small Devices, Tablets */
@media screen and (min-width: 481px) and (max-width: 769px) { 
    header h1 {
        margin-left: 17%;
    }
    #face {
        margin-top: -50%;
        margin-left: 2%;
        transform: scale(0.5);
    }
    #programming i {
        display: block;
        margin-top: 7%;
        font-size: 3em;
    }
    #programming ul li {
        display: block;
        margin-top: 8%;
        text-align: left;
    }
    #media div:hover {
        background-image: url("img/yellowtriangle.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #media {
        margin-top: 75%;
    }
    #media .left,
    #media .right {
        height: auto;
        width:80%;
        float: none;
    }
    #programming i:hover:after {
        margin-top: 1%;
    }
    .devicon-html5-plain:hover:after,
    .devicon-css3-plain:hover:after,
    .devicon-javascript-plain:hover:after,
    .devicon-jquery-plain:hover:after,
    .devicon-nodejs-plain:hover:after {
        display: inline-block;
        margin-left: 0;
    }
    .mobheading {
        display: block;
        font-size: 3em;
    }
    #exp .mobheading {
        color: #fff;
    }
    #exp {
        margin-top: 45%;
    }
    .jobs {
        display: block;
        margin-right: 30%;
    }
    #firstjob,
    #secondjob,
    #thirdjob {
        margin: 0;
        padding: 0;
    }
    #firstjob:before {
        content: url('img/mobup.svg')
    }
    #firstjob:after,
    #thirdjob:before {
        content: url('img/mobmiddle.svg')
    }
    #thirdjob:after {
        content: url('img/mobdown.svg')
    }
    #timeline {
        display: none;
    }
    .hobby {
        display: none !important;
        margin-top: 10%;
        text-align: center;
        position: relative;
    }
    #firsthobby,
    #secondhobby,
    #thirdhobby,
    #firsthobbydesc,
    #secondhobbydesc,
    #thirdhobbydesc {
        margin-left: 0;
    }
    .hobbydesc {
        width: 70%;
        position: relative;
        text-align: left;
        margin-top: 10%;
        display: block !important;
    }
    .hobbydesc h3, .hobbydesc p {
        padding: 0 5%;
    }
    form {
        margin: 10%;
    }
    input[type="text"] {
        width: 100%;
    }
    #contact i {
        margin-left: 20%;
    }
    .iconcontainer {
        margin-top: 40%;
    }
}

/* Extra Small Devices, Phones */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #face {
        display: none;
    }
    nav {
        display: none;
    }
    header h1 {
        margin-top: 40%;
        margin-left: 0;
        font-size: 4.5em;
        text-align: center;
    }
    .iconcontainer {
        margin-top: 45%;
    }
    #programming h2 {
        font-size: 2em;
        text-align: center;
    }
    #programming ul li {
        display: block;
        padding: 2%;
        margin-right: 15%;
    }
    #skills {
        margin-top: -40%;
    }
    #programming i {
        font-size: 3em;
        margin-left: 40%;
        margin-top: 10%;
        display: block;
    }
    #programming i:after {
        margin-top: 1%;
        display: block !important;
        margin-left: 0;
    }
    #media .left,
    #media .right {
        height: auto;
    }
    #media div:hover {
        background-image: url("img/yellowtriangle.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #media p {
        padding: 10px 10%;
    }
    .left,
    .right {
        width: 100%;
        float: none;
        margin-right: none;
    }
    section {
        height: auto;
    }
    .jobs {
        display: block;
    }
    #firstjob,
    #secondjob,
    #thirdjob {
        margin: 0;
        padding: 0;
    }
    body {
        font-size: 0.9em;
    }
    #firstjob:before {
        content: url('img/mobup.svg')
    }
    #firstjob:after,
    #thirdjob:before {
        content: url('img/mobmiddle.svg')
    }
    #thirdjob:after {
        content: url('img/mobdown.svg')
    }
    .hobby {
        margin-top: 10%;
        text-align: center;
        position: relative;
        display: none !important;
    }
    #hobbies div {
        display: block;
    }
    #firsthobby,
    #secondhobby,
    #thirdhobby,
    #firsthobbydesc,
    #secondhobbydesc,
    #thirdhobbydesc {
        margin-left: 0;
    }
    .hobbydesc {
        width: 100%;
        position: relative;
        display: block !important;
    }
    .hobbydesc h3 {
        padding: 0;
    }
    .mobheading {
        display: block;
        font-size: 2em;
        text-align: center;
    }
    #exp .mobheading {
        color: #fff;
    }
    #timeline {
        display: none;
    }
    input[type="text"],
    input[type="email"] {
        width: 90%;
    }
    input[type="submit"] {
        width: 95%;
    }
    #contact h3 {
        padding-top: 20%;
        margin-top: 0;
    }
    #contact i {
        margin-left: 25%;
        font-size: 3em;
    }
    form {
        margin-left: 5%;
    }
    #contact {
        padding-bottom: 2%;
    }
}
